.venv/
__pycache__/
*.pyc
*.pyo
*.pth
*.pkl
mlruns/
*.db
.env
.coverage
htmlcov/
data/raw/
data/processed/
*.egg-info/
.pytest_cache/
.ruff_cache/
.kiro

# Terraform
infra/.terraform/
infra/.terraform.lock.hcl
infra/terraform.tfvars
infra/terraform.tfstate
infra/terraform.tfstate.backup