# Copie este arquivo para terraform.tfvars e ajuste os valores
# cp terraform.tfvars.example terraform.tfvars

aws_region       = "us-east-2"
project_name     = "churn-mlp"
image_tag        = "latest"
artifacts_prefix = "models/latest"
